
body{
    background-color: black;
    color: white;
    line-height: 0px;
}

.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.object{
    height: min-content;
    width: min-content;
    border-top: solid white 1px;
    border-left: solid white 1px;
    margin: 1px;
}

.object-satellites{
    margin: 2px;
}