body{
    background-color: rgb(32, 32, 40);
    color: white;
}

a:link{
    color: rgb(99, 219, 255);
}

a:visited{
    color: rgb(210, 138, 252);
}

table{
    border-spacing: 0;
}

td{
    border-top: solid white 1px;
    border-left: solid white 1px;
}

th{
    border-top: solid white 1px;
    border-left: solid white 1px;
}

.flex{
    display: flex;
}